* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    /* Siempre que se cree una pagina se agregan los clear */

}
h1 {
    background-color: mediumorchid;
    padding: 8px;
}
nav {
    background-color: lightseagreen;
    padding: 10px;
}
ul {
    list-style-position: inside;
}
ul li {
    list-style: none;
    display: inline-block;
    /* Para menus de navegacion se recomienda usar display inline-block */
    background-color: limegreen;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}
table {
    border-collapse:collapse;
    
}
td {
    border: 1px solid black;
}
div  {
    background-color: mediumseagreen;
    /* height: 50px; */
    border: 1px solid black;
    float: left;
    /* display: inline-block; */
    width: 50%;
    box-sizing: border-box;
}
p {
    width: 200px;
}
img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section {
    background-color: whitesmoke;
}
#sec2 div{
    background-color: limegreen;
    color:white;
    display: block;
    float: left;
}