* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #318572ce;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

#screen {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  color: #ffffffab;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  font-size: 2em;
  padding: 10px;
}

button.delete {
  background-color: #d62525;
}

button.delete:hover {
  background-color: #971010;
}

button.equal {
  background-color: #1dc52b;
}

button.equal:hover {
  background-color: #0d5c14;
}